@import url(/Users/Braden/Documents/Lambda_FSW/1. Web fundementals/2. Advanced CSS/1. Responsive Design 1/responsive-web-design-I/css/normalize.css);
html {
  background-color: skyblue;
}

html .container {
  width: 714px;
  margin: auto;
  position: relative;
}

html .container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.01rem;
}

html .container header nav a {
  color: #c6c;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0 0.3rem;
}

html .container header nav a:hover {
  color: cyan;
  font-size: 1.7em;
}

html .container main .topSect {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5%;
}

html .container main .topSect .textBtn {
  border: 1px solid lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topSect .textBtn h1 {
  border: 1px solid red;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  margin: auto;
}

html .container main .topSect .textBtn .btn {
  width: 8em;
  height: 2.5em;
  border: 1px solid red;
  background-color: #fff6a7;
  margin: 0.8525em auto;
}

html .container main .topSect img {
  border: 1px solid red;
  width: 50%;
}

html .container main .topText {
  border: 1px solid deepskyblue;
  width: 100%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText .features {
  border: 1px solid deeppink;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText .about {
  border: 1px solid deeppink;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText h2 {
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #20c20e;
          text-decoration-color: #20c20e;
  font-size: 1.65rem;
}

html .container main .topText p {
  text-align: center;
  border: 1px solid brown;
  width: 90%;
  font-size: 1.05rem;
}

html .container main #middleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container main #middleImg .middle-img {
  width: 97%;
}

html .container main .btmText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .btmText .btm-box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .container main h2 {
  font-size: 1.65rem;
  margin: 2%;
}

html .container main p {
  width: 90%;
  font-size: 1.05rem;
  margin: 1%;
}

html footer h2 {
  font-size: 1.65rem;
}

html footer .copy {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */