@import "./normalize.css";

html {
  background-color: skyblue;
  .container {
    width: 714px;
    margin: auto;
    position: relative;

    header {
      nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.01rem;
        // border: 1px solid red;

        a {
          color: #c6c;
          font-size: 1.3rem;
          text-decoration: none;
          padding: 0 0.3rem;
          //   border: 1px solid red;

          &:hover {
            color: cyan;
            font-size: 1.7em;
          }
          &:active {
          }
          &:focus {
          }
        }
        .logo {
        }
      }
    }
    main {
      .topSect {
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2.5%;

        .textBtn {
          border: 1px solid lime;
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
          align-items: center;
          //   justify-content: space-between;

          h1 {
            border: 1px solid red;
            font-size: 4rem;
            font-style: italic;
            text-align: center;
            margin: auto;
            // margin: 20px;
            // width: 85%;
            // height: 65%;
          }
          .btn {
            width: 8em;
            height: 2.5em;
            border: 1px solid red;
            background-color: #fff6a7;
            margin: 0.8525em auto;

            &:hover {
            }
            &:active {
            }
            &:focus {
            }
          }
        }
        img {
          border: 1px solid red;
          width: 50%;
        }
      }
      .topText {
        border: 1px solid deepskyblue;
        width: 100%;
        margin: 1% auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .features {
          border: 1px solid deeppink;
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .about {
          border: 1px solid deeppink;
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h2 {
          text-align: center;
          text-decoration: underline;
          text-decoration-color: #20c20e;
          //   border-bottom: 3px solid #20c20e;
          font-size: 1.65rem;
        }
        p {
          text-align: center;
          border: 1px solid brown;
          width: 90%;
          font-size: 1.05rem;
        }
      }
      #middleImg {
        display: flex;
        justify-content: center;
        .middle-img {
          width: 97%;
        }
      }
      .btmText {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        .btm-box {
          width: 75%;
          display: flex;
          flex-direction: column;
          //   border: solid red 1px;
          text-align: center;
          align-items: center;
          justify-content: space-around;
        }
      }

      h2 {
        // border: solid red 1px;
        font-size: 1.65rem;
        margin: 2%;
      }
      p {
        width: 90%;
        // border: 1px solid red;
        font-size: 1.05rem;
        margin: 1%;
      }
    }
  }
  footer {
    h2 {
      font-size: 1.65rem;
    }
    address {
    }
    span {
    }
    .copy {
      text-align: center;
    }
  }
}
