@import url(/Users/Braden/Documents/Lambda_FSW/1. Web fundementals/2. Advanced CSS/1. Responsive Design 1/responsive-web-design-I/css/normalize.css);
html {
  background-color: #6ea4be;
}

@media (min-width: 950px) {
  html {
    background-color: hotpink;
  }
}

@media (min-width: 1251px) {
  html {
    background-color: lightblue;
  }
}

html .container {
  width: 95%;
  margin: auto;
  position: relative;
}

html .container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.01rem;
}

@media (min-width: 950px) {
  html .container header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 2px solid red;
  }
}

html .container header nav a {
  color: #065e1f;
  font-size: 1.476rem;
  text-decoration: none;
  padding: 0.3rem;
  margin: 0.2853rem 0;
  width: 105%;
  text-align: center;
  border-bottom: 1px solid grey;
  z-index: 1;
}

@media (min-width: 950px) {
  html .container header nav a {
    border: none;
  }
}

html .container header nav a:hover {
  color: #0e3446;
  font-size: 1.7em;
}

html .container header nav .logo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 0.3rem;
}

@media (min-width: 1251px) {
  html .container header nav .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

html .container header #nav-serv {
  border-top: 1px solid grey;
  padding-top: 0.527rem;
}

@media (min-width: 950px) {
  html .container header #nav-serv {
    border: none;
    padding: 0.3rem;
  }
}

html main .topSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7.5%;
}

html main .topSect .textBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html main .topSect .textBtn h1 {
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  margin: auto;
}

html main .topSect .textBtn .btn {
  width: 8em;
  height: 2.5em;
  background-color: #f1e895;
  border: 0.1267rem solid #0a6b26;
  margin: 1.6362rem auto 0.5rem auto;
  font-size: 1.1127rem;
}

@media (min-width: 950px) {
  html main .topSect .textBtn .btn {
    width: 9.575em;
  }
}

html main .topSect .textBtn .btn:hover {
  background-color: #bec8ee;
  color: #041822;
  border: 1px solid darkmagenta;
}

html main .topSect .textBtn .btn:focus {
  background-color: lawngreen;
}

html main .topSect img {
  position: absolute;
  opacity: 0.2375;
  top: 20.175rem;
  z-index: -1;
  border: 3.7325px solid #273469d3;
  border-radius: 50%;
}

@media (min-width: 950px) {
  html main .topSect img {
    visibility: hidden;
    position: float;
  }
}

@media (min-width: 1251px) {
  html main .topSect img {
    visibility: visible;
    position: relative;
    top: 0;
    opacity: 1;
  }
}

html main .topText {
  border-top: 2px solid black;
  width: 100%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 950px) {
  html main .topText {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html main .topText a,
html main .topText a:visited {
  color: black;
}

html main .topText a:hover {
  color: #321741;
}

html main .topText .features {
  margin: 2.1369% auto 1.6438% auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 950px) {
  html main .topText .features {
    margin-bottom: 0.35%;
  }
}

html main .topText .about {
  margin: 1.6438% auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 950px) {
  html main .topText .about {
    margin-bottom: 0.35%;
  }
}

html main .topText h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.65rem;
}

html main .topText p {
  text-align: center;
  width: 90%;
  font-size: 1.05rem;
}

html main #middleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html main #middleImg .middle-img {
  width: 97%;
  margin: 2.4674% auto;
  border: inset 0.2862rem #43559e;
}

@media (min-width: 950px) {
  html main #middleImg .middle-img {
    width: 98.5%;
    border: ridge 0.2862rem #43559e;
  }
}

html main .btmText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 950px) {
  html main .btmText {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html main .btmText .btm-box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.6438% auto;
}

html main .btmText .btm-box a,
html main .btmText .btm-box a:visited {
  color: black;
}

html main .btmText .btm-box a:hover {
  color: #321741;
}

html main h2 {
  font-size: 1.65rem;
  margin: 2%;
  text-decoration: underline;
}

html main p {
  width: 90%;
  font-size: 1.05rem;
  margin: 1%;
}

footer {
  width: 87%;
  margin: 3% auto 0 auto;
}

@media (min-width: 1251px) {
  footer {
    width: 100%;
  }
}

footer h2 {
  font-size: 1.65rem;
  text-align: right;
  margin: 2%;
}

@media (min-width: 1251px) {
  footer h2 {
    text-align: start;
  }
}

footer address {
  text-align: right;
  margin: 0.35%;
}

@media (min-width: 1251px) {
  footer address {
    text-align: start;
  }
}

footer a {
  text-decoration: none;
  color: #0274d4;
}

@media (min-width: 1251px) {
  footer a {
    text-align: start;
  }
}

footer p {
  text-align: right;
  margin: 0.35%;
}

@media (min-width: 1251px) {
  footer p {
    text-align: start;
  }
}

footer .copy {
  text-align: center;
  margin: 0.35%;
}

footer #easter-egg {
  color: #6397b1;
  text-align: center;
}

@media (min-width: 950px) {
  footer #easter-egg {
    color: #d3488d;
  }
}

@media (min-width: 1251px) {
  footer #easter-egg {
    color: #84bacc;
  }
}
/*# sourceMappingURL=index.css.map */