@import url(/Users/Braden/Documents/Lambda_FSW/1. Web fundementals/2. Advanced CSS/1. Responsive Design 1/responsive-web-design-I/css/normalize.css);
html {
  background-color: #6ea4be;
}

html .container {
  width: 714px;
  margin: auto;
  position: relative;
}

html .container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.01rem;
}

html .container header nav a {
  color: #065e1f;
  font-size: 1.476rem;
  text-decoration: none;
  padding: 0 0.3rem;
}

html .container header nav a:hover {
  color: #0e3446;
  font-size: 1.7em;
}

html .container main .topSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5%;
}

html .container main .topSect .textBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topSect .textBtn h1 {
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  margin: auto;
}

html .container main .topSect .textBtn .btn {
  width: 8em;
  height: 2.5em;
  background-color: #f1e895;
  border: 0.1267rem solid #0a6b26;
  margin: 1.6362rem auto 0 auto;
  font-size: 1.1127rem;
}

html .container main .topSect .textBtn .btn:hover {
  background-color: #bec8ee;
  color: #041822;
  border: 1px solid darkmagenta;
}

html .container main .topSect .textBtn .btn:focus {
  background-color: lawngreen;
}

html .container main .topSect img {
  width: 50%;
}

html .container main .topText {
  width: 100%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText .features {
  margin: 2.1369% auto 1.6438% auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText .about {
  margin: 1.6438% auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .topText h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.65rem;
}

html .container main .topText p {
  text-align: center;
  width: 90%;
  font-size: 1.05rem;
}

html .container main #middleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container main #middleImg .middle-img {
  width: 97%;
  margin: 2.4674% auto;
  border: inset 0.2862rem #43559e;
}

html .container main .btmText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container main .btmText .btm-box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.6438% auto;
}

html .container main h2 {
  font-size: 1.65rem;
  margin: 2%;
  text-decoration: underline;
}

html .container main p {
  width: 90%;
  font-size: 1.05rem;
  margin: 1%;
}

html footer {
  width: 87%;
  margin: 3% auto 0 auto;
}

html footer h2 {
  font-size: 1.65rem;
  text-align: right;
  margin: 2%;
}

html footer address {
  text-align: right;
  margin: 0.35%;
}

html footer p {
  text-align: right;
  margin: 0.35%;
}

html footer .copy {
  text-align: center;
  margin: 0.35%;
}
/*# sourceMappingURL=index.css.map */