@import "./normalize.css";

@mixin for-tablet {
  @media (min-width: 950px) and (max-width: 1250px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1251px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 950px) {
    @content;
  }
}
html {
  background-color: lavender;
  @include for-tablet() {
    background-color: slateblue;
  }
  @include for-desktop() {
    background-color: sandybrown;
  }
  .container {
    width: 95%;
    margin: auto;
    position: relative;
    max-width: 950px;
    @include for-tablet() {
      max-width: 1150px;
    }
    @include for-desktop() {
      max-width: 2000px;
    }
    header {
      nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-top: 1.01rem;

        a {
          text-decoration: none;
          color: palevioletred;
          font-size: 1.476rem;
          padding: 0.3rem;
          margin: 0.2853rem 0;
          width: 95%;
          text-align: center;
          &:hover {
            color: rgb(109, 165, 184);
            @include for-desktop() {
              color: rgb(93, 127, 139);
            }
          }
          &:active {
          }
          &:focus {
          }
          @include for-desktop() {
            color: darkcyan;
          }
        }
        .logoclass {
          .logo {
            padding: 0.3rem;
          }
          &:hover {
          }
          &:active {
          }
          &:focus {
          }
        }
      }
      .services-header-img {
        width: 100%;
      }
      .services {
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        h2 {
        }
        p {
          @include for-desktop() {
            text-align: left;
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
    main {
      .middleSect {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        @include for-tablet() {
          flex-direction: row;
        }
        @include for-desktop() {
          flex-direction: row;
        }

        .midBox {
          width: 98%;
          text-align: left;
          border: 1px dashed turquoise;
          margin: 1%;
          padding: 0.75%;
          display: flex;
          flex-direction: column;
          @include for-tablet() {
            width: 45%;
          }
          @include for-desktop() {
            width: 45%;
            border: none;
          }

          h2 {
            text-align: center;
            margin-bottom: 0.2rem;
            margin-top: 0.2rem;
          }
          p {
          }
          button {
            // justify-content: flex-start;
            width: 6rem;
            border: solid #2ea599 1px;
            border-radius: 17%;
            background-color: rgb(247, 220, 224);
            margin-left: 43.683%;
            color: #2ea599;
            @include for-tablet() {
              margin: auto;
              background-color: rgb(192, 192, 121);
            }
            @include for-desktop() {
              margin: auto;
              background-color: gold;
              color: rgb(0, 173, 0);
              width: 10rem;
              margin-bottom: 2.5rem;
            }

            &:hover {
              color: #f7dce0;
              background-color: #40e0d0;
            }
            &:active {
            }
            &:focus {
            }
          }
        }
      }
      .btmSect {
        border-top: 1px solid black;
        margin-top: 1rem;
        display: flex;
        @include for-tablet() {
        }

        justify-content: space-around;
        .leftTxt {
          width: 96%;
          // border: 2px solid red;
          text-align: center;
          @include for-tablet() {
            margin-top: 1.2rem;
          }
          @include for-desktop() {
            margin: 1rem 2rem;
            width: 68%;
          }

          h2 {
          }
          p {
            @include for-tablet() {
              text-align: left;
            }
            @include for-desktop() {
              text-align: left;
            }
          }

          .list {
            @include for-desktop() {
              margin-top: 3rem;
            }
            ul {
              padding: 0px;
              margin: 0px;
              @include for-tablet() {
                margin-top: 1.4rem;
              }
            }
            li {
              list-style: none;

              @include for-tablet() {
                margin: 0.5rem;
              }
              @include for-desktop() {
                margin-top: 0.5rem;
                text-align: left;
                list-style: decimal;
              }
            }
          }
        }
        .services-info-img {
          width: 46%;
          margin-top: 1rem;

          // border: 2px solid red;
          border: 0.75px solid black;

          // float: right;
          @include for-mobile() {
            display: none;
          }
          @include for-tablet() {
            margin-top: 1.5rem;
          }
          @include for-desktop() {
            margin-top: 1.5rem;
          }
        }
      }
    }

    footer {
      text-align: center;
      @include for-desktop() {
        margin-top: 3rem;
      }
      p {
      }
      #easter-egg {
        // color:
        @include for-tablet() {
          color: rgb(77, 60, 182);
        }
        @include for-desktop() {
          color: rgb(190, 119, 61);
        }
      }
    }
  }
}
